#tvSold{
    font-family: 'Zen+Kaku Gothic New', cursive;
    color: Green;
}

#stockInitial{
    font-family: 'Zen+Kaku Gothic New', cursive;
    color: Blue;
}

#toSellTvs{
    font-family: 'Zen+Kaku Gothic New', cursive;
    color: Red;
}